{% include "header.html" %}

    <div id=question>How was the Neural Network created?</div>
    <div id=answer>I created this model for my submission of the <a
            href=https://www.kaggle.com/c/digit-recognizer>Kaggle Digit Recognizer</a> competition. The neural Network
            was 96% accurate on the competition test data, and took less than two minutes to train. I wanted to find a
            way to further deploy this model, so I wrote this site for it to be used publicly. </div> <br><br>

            <div id=question>The Network was 96% accurate on the test data, but it's far less accurate here. Why the
                degredation?</div><br>
            <div id=answer>The MNIST dataset this neural network is trained on consists of 28,000 scanned handwritten
                digits.
                Your handwriting is probably quite different from the dataset, which means it may not work well with the
                model.
                This could be seen as an example of overfitting to the quicks of human handwriting, rather than
                generalizing to
                learn the shapes of each number. </div>
            <br><br>
            <div id=question>How does this application work?</div>
            <div id=answer>Here's a brief summary:
                <ul>
                    <li>You write your digit in the 280x280 pixel canvas. </li>
                    <li>The canvas is split into a 28x28 grid of 10x10 cells. The average darkness of each 10x10 cell is
                        computed as a value between 0-255.
                    <li>An array of 784 values ranged 0-255 (the format of the MNIST data the network is trained on) is
                        passed
                        via an API call to the neural network, which makes a prediction. The prediction is rendered on
                        this
                        page. </li>
                </ul>
            </div>

            <div id=question>How is the application deployed?</div>
            <div id=answer>Here's another summary:
                <ul>
                    <li>The model was exported from Kaggle's notebook platform with <a
                            href=https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn />pickle.
        </a>
        </li>
        <li>The Canvas methods are written in Javascript, and the rest of this page in HTML.
        <li>All of these elements are combined in a Flask server, which lets the javascript and python talk to
            eachother easily with simple APIs. </li>
        <li>The whole application was dockerized, packaging up all the dependencies for the Flask server and the ML
            libraries used for the model. </li>
        <li>That Docker image was uploaded to my AWS account, using <a href=https://aws.amazon.com/ecr/> AWS Elastic
                Container Registry.</a> </li> <li>The image was deployed serverlessly using <a
                    href=https://aws.amazon.com/ecs/>AWS Elastic Container Service</a> and <a
                    href=https://aws.amazon.com/fargate/>AWS Fargate.</a> </li> </ul> </div> <div id=question>Wow, this
                    is exactly the kind of AI/ML development expertise I need on my team! How can I get in
                    contact with you?
    </div>
    <div id=answer>I'm glad my project has brought you so much joy. Here's my <a
            href=https://www.linkedin.com/in/tristan-saldanha />linkedIn</a>, <a href=https://github.com/kh3dron>github
            </a>, and <a href=tristansaldanha@gmail.com>email.</a> </div>
