<html>
<script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 2;

    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");


        w = canvas.width;
        h = canvas.height;

        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }


    function draw() {
        ctx.beginPath();
        ctx.arc(currX, currY, 10, 0, 6.28);
        ctx.fill()
        ctx.closePath();

    }

    function wipe() {
        ctx.fillStyle = 'white';
        w = canvas.width;
        h = canvas.height;
        ctx.fillRect(0, 0, w, h);
    }

    function save() {
        document.getElementById("canvasimg").style.border = "2px solid";
        var dataURL = canvas.toDataURL();
        document.getElementById("canvasimg").src = dataURL;
        document.getElementById("canvasimg").style.display = "inline";
    }

    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;

            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.arc(currX, currY, 10, 0, 6.28);
                ctx.fill()
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }

    function classify() {
        var c = document.getElementById("can");
        var ctx = c.getContext("2d");
        let store = []
        for (var i = 0; i < 28; i++) {
            for (var j = 0; j < 28; j++) {

                var s = 0;
                for (var m = 1; m < 10; m++) {
                    for (var n = 1; n < 10; n++) {
                        s += ctx.getImageData((j * 10) + m, (i * 10) + n, 1, 1)["data"][3];
                    }
                }
                store.push(parseInt(s / 81));
            }
        }
        var req = {}
        req["bits"] = store
        postData("/predict/", req)
            .then(data => {
                result.innerHTML = "Model prediction: " + data;
                var hstobj = {}
                hstobj["bits"] = store.toString();
                hstobj["predicted"] = data;
                hstobj["intended"] = document.getElementById("userlabel").value;
                hstobj["model_version"] = "test";
                postData("/add_history/", hstobj);
                console.log(hstobj)
                    .then(data => {
                        console.log("Logged");
                        console.log(data);

                    })
            })

    }


</script>

<body onload="init()">
    {% include "header.html" %}


    <h3>Write a digit in the box, and click "classify" for a Neural Network to predict what you've written.</h3>


    <canvas id="can" width="280" height="280" style="border:2px solid;"></canvas>
    <br><br>
    <br><br>
    <form>
        <label>Label the number you're going to write. The model will take 2-3 seconds to classifiy your drawing.</label><br>
        <label><i>Not seen by the predictor model!</i></label><br>
        <input type="number" id="userlabel" placeholder="You wrote a"><br>
        <button type="button" onclick="classify()">Classify Drawing</button>
    </form>

    <h3 id="result"></h3>
    <hr>
    <button type="button" onclick="location.reload()">Reset drawing pad</button>
    <br>
    <hr>



</body>

</html>