<html>
<script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 2;

    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");


        w = canvas.width;
        h = canvas.height;

        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }


    function draw() {
        ctx.beginPath();
        ctx.arc(currX, currY, 10, 0, 6.28);
        ctx.fill()
        ctx.closePath();

    }

    function wipe() {
        ctx.fillStyle = 'white';
        w = canvas.width;
        h = canvas.height;
        ctx.fillRect(0, 0, w, h);
    }

    function save() {
        document.getElementById("canvasimg").style.border = "2px solid";
        var dataURL = canvas.toDataURL();
        document.getElementById("canvasimg").src = dataURL;
        document.getElementById("canvasimg").style.display = "inline";
    }

    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;

            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.arc(currX, currY, 10, 0, 6.28);
                ctx.fill()
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }

    function classify() {
        var c = document.getElementById("can");
        var ctx = c.getContext("2d");
        let store = []
        for (var i = 0; i < 28; i++) {
            for (var j = 0; j < 28; j++) {

                var s = 0;
                for (var m = 1; m < 10; m++) {
                    for (var n = 1; n < 10; n++) {
                        s += ctx.getImageData((j * 10) + m, (i * 10) + n, 1, 1)["data"][3];
                    }
                }
                store.push(s / 81);
            }
        }


        var req = new XMLHttpRequest();
        var result = document.getElementById('result');
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                result.innerHTML = "Model prediction: " + this.responseText;
            } else {
                result.innerHTML = "Predicting...";
            }
        }

        req.open('POST', '/', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send(JSON.stringify(store));

    }
</script>

<body onload="init()">

    <style>
        canvas {
            padding-left: 0;
            padding-right: 0;
            margin-left: 100;
            margin-right: auto;
            display: block;
        }

        * {
            font-family: Arial, Helvetica, sans-serif;

        }

        #question {
            color: red;
            font-size: 30;
        }

        #answer {
            font-size: 20;
        }
    </style>


    <h1>MNIST Web Classifier</h1>
    <h2>Write a digit in the box, and click "classify" for a Neural Network to predict what you've written.</h2>


    <canvas id="can" width="280" height="280" style="border:2px solid;"></canvas>
    <br><br>
    <button type="button" onclick="location.reload()" style="border:2px solid;">Reset</button>
    <br>
    <button type="button" onclick="classify()" style="border:2px solid;">Classify</button>

    <h3 id="result"></h3>

    <div id=question>How was the Neural Network created?</div>
    <div id=answer>I created this model for my submission of the <a
            href=https://www.kaggle.com/c/digit-recognizer>Kaggle Digit Recognizer</a> competition. The neural Network
        was 96% accurate on the competition test data, and took less than two minutes to train. I wanted to find a way
        to further deploy this model, so I wrote this site for it to be used publicly. </div>
    <br><br>

    <div id=question>The Network was 96% accurate on the test data, but it's far less accurate here. Why the
        degredation?</div><br>
    <div id=answer>The MNIST dataset this neural network is trained on consists of 28,000 scanned handwritten digits.
        Your handwriting is probably quite different from the dataset, which means it may not work well with the model.
        This could be seen as an example of overfitting to the quicks of human handwriting, rather than generalizing to
        learn the shapes of each number. </div>
    <br><br>
    <div id=question>How does this application work?</div>
    <div id=answer>Here's a brief summary:
        <ul>
            <li>You write your digit in the 280x280 pixel canvas. </li>
            <li>The canvas is split into a 28x28 grid of 10x10 cells. The average darkness of each 10x10 cell is
                computed as a value between 0-255.
            <li>An array of 784 values ranged 0-255 (the format of the MNIST data the network is trained on) is passed
                via an API call to the neural network, which makes a prediction. The prediction is rendered on this
                page. </li>
        </ul>
    </div>

    <div id=question>How is the application deployed?</div>
    <div id=answer>Here's another summary:
        <ul>
            <li>The model was exported from Kaggle's notebook platform with <a
                    href=https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn />pickle.</a>
            </li>
            <li>The Canvas methods are written in Javascript, and the rest of this page in HTML.
            <li>All of these elements are combined in a Flask server, which lets the javascript and python talk to
                eachother easily with simple APIs. </li>
            <li>The whole application was dockerized, packaging up all the dependencies for the Flask server and the ML
                libraries used for the model. </li>
            <li>That Docker image was uploaded to my AWS account, using <a href = https://aws.amazon.com/ecr/> AWS Elastic Container Registry.</a></li>
            <li>The image was deployed serverlessly using <a href = https://aws.amazon.com/ecs/>AWS Elastic Container Service</a> and <a href=https://aws.amazon.com/fargate/>AWS Fargate.</a></li>
        </ul>
    </div>



    <div id=question>Wow, this is exactly the kind of AI/ML development expertise I need on my team! How can I get in
        contact with you? </div>
    <div id=answer>I'm glad my project has brought you so much joy. Here's my <a
            href=https://www.linkedin.com/in/tristan-saldanha />linkedIn</a>, <a
            href=https://github.com/kh3dron>github</a>, and <a href=tristansaldanha@gmail.com>email.</a> </div>


</body>

</html>