<h1>MNIST Web Classifier</h1>
<a href="/"><button>Classify a Digit</button></a>
<a href="/about"><button>About this Application</button></a>
<a href="/log"><button>Past Performance</button></a>


<hr>

<style>
    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: 100;
        margin-right: auto;
        display: block;
    }

    * {
        font-family: Arial, Helvetica, sans-serif;

    }

    #question {
        font-style: italic;
        font-weight: bold;
        background-color: #fff;

    }

</style>
